/.idea/
.DS_Store
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
#Firebase config
google-services.json
app/google-services.json

# Keystore files
*.jks
*.keystore

# Firebase emulator logs
firestore-debug.log

# Local dev/test directories
app/src/main/java/com/android/gatherly/model/map/
